[Unit]
Description=pmbuzzer daemon
After=openresty.service
Requires=openresty.service
[Service]
Type=simple
Restart=always
RestartSec=0
ExecStart=/usr/sbin/pmbuzzer
[Install]
WantedBy=multi-user.target
