[Unit]
Description=PID3 daemon
After=obmc-shaosid.service
Requires=obmc-shaosid.service
[Service]
Type=simple
Restart=always
RestartSec=0
ExecStart=/usr/sbin/pid3_wrapper
ExecStopPost=/usr/sbin/safefans.sh || return 0
[Install]
WantedBy=multi-user.target
