[Unit]
Description=Tobby daemon
After=obmc-shaosid.service
Requires=obmc-shaosid.service
[Service]
Type=simple
Restart=always
RestartSec=0
ExecStart=/usr/sbin/tobby
[Install]
WantedBy=multi-user.target
